.container {
    background-color: rgb(205, 205, 223);
    border-radius: 10px;
    border:solid 5px rgb(124, 124, 241);
    display:flex;
    padding:1rem;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

.container:hover{
    border-color: white;
}

.text {
    margin-left: 1rem;
    border-radius: 5px;
    border:solid 5px rgb(124, 124, 241);
    flex-grow:2;
}

.text h1{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    font-size:1.25rem;
}

